html {
  background-color: #f9f9f9;
}

.coupon-nav {
  background-color: #fff;
  overflow: hidden;
}

.coupon-nav div {
  float: left;
  width: 33.3333%;
  text-align: center;
}

.coupon-nav label {
  color: #888;
  font-size: 11pt;
  padding: 9.5px 0;
  display: block;
  width: 50px;
  margin: 0 auto;
}

.coupon-nav label.active {
  color: #ff2626;
  border-bottom: 1px solid #ff2626;
}

.coupon-body {
  padding: 20px 10px;
}

.coupon-item {
  color: #fff;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  background-color: #f7ba58;
  margin-bottom: 10px;
}

.coupon-top {
  padding: 26px 5px;
  position: relative;
  z-index: 10;
  min-height: 40px;
}

.coupon-money {
  width: 27%;
  float: left;
  text-align: center;
}

.coupon-money text {
  font-size: 20pt;
  font-weight: bold;
}

.coupon-desc {
  width: 45%;
  float: left;
}

.coupon-desc .coupon-condition {
  font-size: 11pt;
  margin-bottom: 5px;
}

.coupon-desc .coupon-time {
  font-size: 8pt;
}

.coupon-handle {
  width: 28%;
  float: left;
  text-align: center;
  padding-top: 7px;
}

.coupon-handle .show {
  background-color: #fff;
  border-radius: 15px;
  padding: 5px 10px;
  color: #e8a438;
  font-size: 9pt;
}

.coupon-handle .show.disabled {
  opacity: 0.7;
}

.coupon-bottom {
  position: relative;
  z-index: 10;
  background-color: transparent;
  border-top: 2px dashed rgba(255, 255, 255, 0.3);
}

.coupon-bottom-content {
  position: relative;
  z-index: 2;
  margin: 8px 20px;
  margin-right: 30px;
  font-size: 10pt;
  overflow: hidden;
  height: 18px;
}

.coupon-item .i {
  position: absolute;
  left: 20%;
  top: 45px;
  height: 190px;
  width: 390px;
  background-color: rgba(255, 255, 255, 0.15);
  transform: rotate(-30deg);
  z-index: 3;
}

.icon-jiantou {
  position: absolute;
  right: 15px;
  top: 9px;
  z-index: 11;
}

.show-desc .coupon-bottom-content {
  height: auto !important;
}

.l {
  width: 10px;
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 0;
  background-color: #f7ba58;
  background: radial-gradient(#f9f9f9 0, #f9f9f9 5px, #f7ba58 5px);
  background-size: 15px 15px;
  background-position: 9px 1px;
}

.r {
  width: 10px;
  right: 0;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.15);
  background: radial-gradient(#f9f9f9 0, #f9f9f9 5px, rgba(255, 255, 255, 0.15) 5px);
  background-size: 15px 15px;
}

.coupon-item.expire {
  background-color: #888;
}

.coupon-item.expire .l {
  background-color: #888;
  background: radial-gradient(#f9f9f9 0, #f9f9f9 5px, #888 5px);
  background-size: 15px 15px;
  background-position: 9px 1px;
}

.coupon-item.use {
  background-color: #afafaf;
}

.coupon-item.use .l {
  background-color: #afafaf;
  background: radial-gradient(#f9f9f9 0, #f9f9f9 5px, #afafaf 5px);
  background-size: 15px 15px;
  background-position: 9px 1px;
}

.coupon-item.expire .show,
.coupon-item.use .show,
.coupon-item.over .show {
  display: none;
}

.coupon-expire {
  display: none;
}

.coupon-item.expire .coupon-expire {
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  font-size: 50px;
}

.coupon-use {
  display: none;
}

.coupon-item.use .coupon-use {
  position: absolute;
  right: 20px;
  top: 10px;
  display: block;
  font-size: 80px;
}

.coupon-over {
  display: none;
}

.coupon-item.over .coupon-over {
  position: absolute;
  right: 5px;
  top: -3px;
  display: block;
  font-size: 60px;
}

.coupon-item.over {
  background-color: #00b563;
}

.coupon-item.over .l {
  background-color: #00b563;
  background: radial-gradient(#f9f9f9 0, #f9f9f9 5px, #00b563 5px);
  background-size: 15px 15px;
  background-position: 9px 1px;
}

.coupon-img {
  width: 35px;
  height: 35px;
  display: block;
  margin: 0 auto;
}