html {
	background-color: #f9f9f9;
}

.form-view {
	padding: 20px 0;
}

.top-tip {
	margin-bottom: 0;
}

.text-tip {
	font-size: 11pt;
	text-align: left;
	background-color: #e2e2e2;
	padding: 5px 10px;
	color: #888;
}

.advertQrCode-view {
	width: 100%;
	overflow: hidden;
}

.advertQrCode {
	background-color: #ff7260;
	padding: 30px 10px;
	overflow: hidden;
	width: 100%;
}

.advertQrCode .fl div {
	display: block;
	line-height: 20px;
	margin-bottom: 20px;
	color: #fff;
	font-size: 11pt;
	text-align: left;
}

.advertQrCode .fl div.title {
	font-size: 13pt;
	font-weight: bold;
}

.advertQrCode-image {
	width: 120px;
	height: 120px;
	background-color: #fff;
	font-size: 11pt;
	text-align: center;
	padding: 10px;
	display: table-cell;
	vertical-align: middle;
	color: #888;
}

.btn-save {
	margin-bottom: 0;
}

.advertQrCode .fr {
	overflow: hidden;
}

.form-view .section input[type=checkbox] {
	height: 20px;
	min-width: auto;
	margin: 11px;
}