.func-ul {
	padding: 10px;
	overflow: hidden;
}

.func-li {
	width: 50%;
	float: left;
	color: #888;
}

.func-body {
	border: 1px solid #e5e5e5;
	margin: 10px;
	position: relative;
	font-size: 13pt;
	text-align: center;
}

.func-text {
	width: auto;
	display: initial;
}

.func-text div {
	display: table-cell;
	vertical-align: middle;
	height: 70px;
	width: 100%;
}

.func-li .tip {
	position: absolute;
	right: -1px;
	top: -1px;
	font-size: 9pt;
	background: #ff7b07;
	padding: 3px 5px;
	color: #fff;
}

.func-li .iconfont {
	font-size: 30pt;
	float: left;
	display: block;
	position: absolute;
	bottom: -2px;
	right: 0;
	color: #e5e5e5;
}

.func-li.active .iconfont {
	color: #52d553;
}

.func-li.active .func-body {
	border: 1px solid #52d553;
	color: #52d553;
}

.func-footer {
	margin: 10px;
}

.pay-money {
	margin-bottom: 30px;
	padding: 15px;
	background: #f5f5f5;
	text-align: center;
	font-size: 13pt;
	color: #888;
}

.func-info div {
	margin-bottom: 20px;
	font-size: 13pt;
	background: #f5f5f5;
	text-align: center;
	color: #888;
	padding: 15px;
}

.func-info .func-record {
	background-color: #52d553;
	color: #fff;
}

.func-info .func-record-expire {
	background-color: #fd8f01;
	color: #fff;
}