/**index.wxss**/

.icon-horn {
	margin-top: 3px;
}

.list .fl {
	width: 50%;
}

.list .fl.w100 {
	width: 100%;
}

.list .fr {
	width: 50%;
}

.list-item {
	position: relative;
	padding: 5px;
	margin: 10px 8px;
	line-height: 30px;
	background-color: #f7f7f7;
	border: 1px solid #f1f1f1;
}

.list-item-pos {
	overflow: hidden;
}

.list-item-pos .nickname {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: right;
	display: block;
	line-height: 100rpx;
	max-width: 90px;
}

.list-item-pos .nickname.w100 {
	max-width: 200px;
}

.list-item-head {
	width: 80rpx;
	height: 80rpx;
	border-radius: 50%;
	border: 1px solid #f1f1f1;
	float: left;
	margin-right: 5px;
}

.list-item-pos .money {
	font-weight: bold;
	color: #000;
	top: 0;
	right: 10px;
	line-height: 20px;
}

.list-item-pos .time {
	color: #888;
	bottom: 0;
	right: 10px;
	line-height: 20px;
}

.pos-right {
	right: 0;
}

.line-group {
	display: inherit;
}

.line-group div {
	color: #fff;
}

.line-group .handler-item {
	padding: 0 20px;
}

.icon {
	width: 25px;
	height: 25px;
}