<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <title>我的 - 新增广告模板</title>
    <meta name="description" content="工蜂引流红包裂变">
    <link rel="alternate icon" type="image/png" href="/red_packet/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/red_packet/img/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="/red_packet/css/app.css" rel="stylesheet"/>
    <link href="/red_packet/css/view/user/card/edit.css" rel="stylesheet"/>
    <script src="/red_packet/js/jquery.min.js"></script>
    <script src="/red_packet/js/layer/layer.js"></script>
    <script src="/red_packet/js/vue.min.js"></script>
    <script src="/red_packet/js/app.js"></script>
    <script src="/red_packet/js/common.js"></script>
</head>

<body>
<div id="app">
    <script>
        document.write(common.loader)
    </script>
    <div v-cloak>
        <vheader v-bind:nav='nav'></vheader>
        <vnav></vnav>
        <a open-type='navigate' url='/red_packet/pages/user/account/account' v-if='!isLoginAccount'>
            <div class='top-tip'>未绑定账号，请先绑定账号，点击绑定</div>
        </a>
        <div class="container">
            <form class='form-view' @submit.prevent="submit">
                <div>
                    <div class="section">
                        <div class='form-title'>模板名称</div>
                        <input name='name' class='form-control' placeholder="输入卡片名称" maxlength='50'
                               v-model='model.name'/>
                    </div>
                    <div class="section">
                        <div class='form-title'>联系人</div>
                        <input name='contact' class='form-control' placeholder="输入联系人" maxlength='20'
                               v-model='model.contact'/>
                    </div>
                    <div class="section">
                        <div class='form-title'>联系方式</div>
                        <input name='tel' class='form-control' placeholder="输入联系方式" maxlength='50' v-model='model.tel'/>
                    </div>
                    <div class="section">
                        <div class='form-title'>联系地址</div>
                        <textarea name='address' class='form-control' maxlength="500" placeholder="输入联系地址"
                                  v-model='model.address'></textarea>
                    </div>
                    <div class="section">
                        <div class='form-title'>是否默认</div>
                        <input type="checkbox" name='def' class='form-control' v-model='model.def'/>
                    </div>
                    <div class='center' v-if='!expireComponyFunc'>
                        <div class='text-small text-gray'>尊贵企业版用户</div>
                    </div>
                    <div class='m-20'>
                        <button class='btn-save'> 创建红包卡片</button>
                    </div>
                </div>
            </form>
            <div class='advertQrCode-view'>
                <div class='text-tip'>官方示例：</div>
                <div class='advertQrCode'>
                    <div class='fl w60'>
                        <div class='title'>红包裂变</div>
                        <div>红包裂变，1天可达10万人。</div>
                        <div class='m0'>官网：www.9ee3.com</div>
                    </div>
                    <div class='fr w40'>
                        <div class='advertQrCode-image'>获取红包二维码</div>
                    </div>
                </div>
            </div>
        </div>
        <vfooter></vfooter>
    </div>
</div> 
<script src="/red_packet/js/view/user/card/edit.js"></script>
</body>

</html>