.form-view {
	margin: 0;
	padding: 20px; 
	width: initial;
}

.form-view .section .form-control {
	float: none;
}

.form-view .section input {
	width: 100%;
	padding: 7px 0;
}

.img-code {
	width: 80px !important;
	height: 40px !important;
	position: absolute;
	right: 10px;
	top: 0;
	z-index: 99;
}

.sms-code {
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 99;
    color: #cacaca !important;
    padding: 3px 10px;
}

.userinfo-avatar {
	border: 1px solid #000;
}

.userinfo-nickname {
	color: #000;
	font-weight: bold;
}

.button-tip {
	color: #888 !important;
}