<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <title>发现金券</title>
    <meta name="description" content="工蜂引流红包裂变">
    <link rel="alternate icon" type="image/png" href="/red_packet/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/red_packet/img/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="/red_packet/css/app_f591972.css" rel="stylesheet"/>
    <link href="/red_packet/css/view/red_packet.css" rel="stylesheet"/>
    <script src="/red_packet/js/jquery.min_3a2136e.js"></script>
    <script src="/red_packet/js/layer/layer_59328fc.js"></script>
    <script src="/red_packet/js/vue.min_77af8ad.js"></script>
    <script src="/red_packet/js/app_153bde6.js"></script>
    <script src="/red_packet/js/common_5d0e885.js"></script>
    <script src="/red_packet/js/datePicker_b2aa6fd.js"></script>
</head>

<body>
<div id="app">
    <script>
        document.write(common.loader)
    </script>
    <div v-cloak>
        <vheader v-bind:nav='nav'></vheader>
        <vnav></vnav>
        <a open-type='navigate' url='/red_packet/pages/user/account/account' hidden='{{isLoginAccount}}'>
            <div class='top-tip'>未绑定账号，请先绑定账号，点击绑定</div>
        </a>
        <div class="container">
            <form class='form-view' @submit.prevent="submit">
                <div class="section">
                    <div class='form-title'>商家名称</div>
                    <input name='name' class='form-control' placeholder="填写商家名称" maxlength='30' v-model='model.name'/>
                </div>
                <div class="section">
                    <div class='form-title'>商家标志</div>
                    <input name='photo' v-model='model.photo' class='hide'/>
                    <image class="userinfo-avatar" :src="photoImage"></image>
                    <button type="button" class='form-control upload' size='mini' v-on:click='chooseImage'>点击上传</button>
                </div>
                <div class="section">
                    <div class='form-title'>抵扣金额</div>
                    <input class='form-control' name='money' placeholder="填写现金券金额" type='number' v-model='model.money'/>
                    <div class='unit'>元</div>
                </div>
                <div class="section">
                    <div class='form-title'>使用条件</div>
                    <input class='form-control' name='condition' placeholder="输入使用条件" maxlength='50'
                           v-model='model.condition'/>
                </div>
                <div class="section">
                    <div class='form-title'>截止时间</div>
                    <input class='form-control' name='expireTime' id='expireTime' placeholder="默认无截止时间" type='text'
                           readonly="readonly" v-model='model.expireTime'/>
                </div>
                <div class="section">
                    <div class='form-title'>数量</div>
                    <input class='form-control' name='number' placeholder="现金券数量" maxlength='6' type='number'
                           v-model='model.number'/>
                </div>
                <div class="section">
                    <div class='form-title'>使用描述</div>
                    <textarea class='form-control' name='desc' maxlength="500" placeholder="使用现金券的描述.."
                              v-model='model.desc'></textarea>
                </div>
                <div class='center'>
                    <div class='text-tip text-small'>一旦发送现金券不可修改</div>
                </div>
                <div class='m-20'>
                    <button class='btn-save'> 发送现金券</button>
                </div>
            </form>
            <vcontact></vcontact>
        </div>
        <vfooter></vfooter>
    </div>
</div>
<script src="/red_packet/js/wechat/jweixin-1.2.0_1eed598.js"></script>
<script src="/red_packet/js/wechat/config_d1435a5.js"></script>
<script src="/red_packet/js/view/user/send/coupon_2b6c08e.js"></script>
</body>
</html>