body {
	margin-bottom: 0px;
}

.red_packet-container {
	display: block;
	overflow-y: auto;
}

.qrcode {
	width: 90%;
	display: block;
	margin-left: 5%;
	max-height: 150px;
}

.advert-title {
	text-align: left;
}

.advertQrCode {
	background-color: #ff7260;
	padding: 30px 10px;
	overflow: hidden;
}

.advertQrCode .fl div {
	display: block;
	line-height: 20px;
	margin-bottom: 40rpx;
	color: #fff;
	font-size: 11pt;
	text-align: left;
}

.advertQrCode .fl text.title {
	font-size: 13pt;
	font-weight: bold;
}

.help {
	font-size: 9pt;
	color: #ff7260;
	text-align: left;
	background-color: #fff;
	border: 1px dotted #ff7260;
	padding: 10px;
	line-height: 22px;
}

.help .title {
	font-size: 11pt;
	font-weight: bold;
}

.red_packet-container {
	background: url(/red_packet/img/red_packet.jpg) no-repeat;
	background-size: cover;
	display: block;
}

.head-img {
	width: 80px;
	height: 80px;
}