<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <title>企业认证</title>
    <meta name="description" content="工蜂引流红包裂变">
    <link rel="alternate icon" type="image/png" href="/red_packet/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/red_packet/img/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="/red_packet/css/app.css" rel="stylesheet" />
    <link href="/red_packet/css/view/user/company/auth.css" rel="stylesheet" />
    <script src="/red_packet/js/jquery.min.js"></script>
    <script src="/red_packet/js/layer/layer.js"></script>
    <script src="/red_packet/js/vue.min.js"></script>
    <script src="/red_packet/js/app.js"></script>
    <script src="/red_packet/js/common.js"></script>
</head>

<body>
    <div id="app">
        <script>
            document.write(common.loader)
        </script>
        <div v-cloak>
            <vheader v-bind:nav='nav'></vheader>
            <vnav></vnav>
            <vbind  v-if='!isLoginAccount'></vbind>
            <div class='status top-tip' v-if='Data && Data.id>0' :class='Data.status=="审核中"?"in":Data.status=="审核通过"?"success":""'>{{Data.status}}</div>
            <div class="container">
                <form class='form-view' @submit.prevent="submit">
                    <div>
                        <div class="section">
                            <div class='form-title'>企业名称</div>
                            <input name='name' class='form-control' placeholder="企业名称" maxlength='30' v-model='Data.name' bindinput='nameInput' v-bind:disabled='btnText=="审核中" || btnText=="审核通过"'
                            />
                        </div>
                        <div class="section">
                            <div class='form-title'>企业法人</div>
                            <input name='legal_person' class='form-control' placeholder="企业法人" maxlength='20' v-model='Data.legal_person' bindinput='legalPersonInput'
                                v-bind:disabled='btnText=="审核中" || btnText=="审核通过"' />
                        </div>
                        <div class="section">
                            <div class='form-title'>联系电话</div>
                            <input name='tel' class='form-control' placeholder="联系电话" maxlength='50' v-model='Data.tel' bindinput='telInput' v-bind:disabled='btnText=="审核中" || btnText=="审核通过"'
                            />
                        </div>
                        <div class="section">
                            <div class='form-title'>办公地址</div>
                            <textarea name='address' class='form-control' bindblur="bindTextAreaBlur" auto-height maxlength="500" placeholder="办公地址"
                                v-model='Data.address' bindinput='addressInput' v-bind:disabled='btnText=="审核中" || btnText=="审核通过"'></textarea>
                        </div>
                        <div class="section">
                            <div class='form-title'>营业执照</div>
                            <input name='business_licence' v-model='Data.business_licence' class='hide' />
                            <button type="button" class='form-control upload' size='mini' v-on:click='chooseImage("businessLicence")' v-if='!(btnText=="审核中" || btnText=="审核通过")'>点击上传
                            </button>
                            <div class='big-image' v-if='businessLicenceImage'>
                                <img :src="businessLicenceImage" class='fileImg' mode='widthFix'>
                            </div>
                        </div>
                        <div class="section">
                            <div class='form-title'>身份证(正)</div>
                            <input name='id_card_just' v-model='Data.id_card_just' class='hide' />
                            <button type="button" class='form-control upload' size='mini' v-on:click='chooseImage("idCardJust")' v-if='!(btnText=="审核中" || btnText=="审核通过")'>点击上传
                            </button>
                            <div class='text-tip text-small'>公司法人身份证</div>
                            <div class='big-image' v-if='idCardJustImage'>
                                <img :src="idCardJustImage" class='fileImg' mode='widthFix'>
                            </div>
                        </div>
                        <div class="section">
                            <div class='form-title'>身份证(反)</div>
                            <input name='id_card_back' v-model='Data.id_card_back' class='hide' />
                            <button type="button" class='form-control upload' size='mini' v-on:click='chooseImage("idCardBack")' v-if='!(btnText=="审核中" || btnText=="审核通过")'>点击上传
                            </button>
                            <div class='text-tip text-small'>公司法人身份证</div>
                            <div class='big-image' v-if='idCardBackImage'>
                                <img :src="idCardBackImage" class='fileImg' mode='widthFix'>
                            </div>
                        </div>
                        <div class='center' v-if='!expireComponyFunc'>
                            <div class='text-small text-gray'>尊贵企业版用户</div>
                        </div>
                        <div class='m-20'>
                            <button class='btn-save' :class='btnText==" 审核通过 "?"primary ":btnText=="审核中 "?"default ":"warn "' v-bind:disabled='btnText=="审核中" || btnText=="审核通过"'>
                                {{btnText}} </button>
                        </div>
                    </div>
                </form>
            </div>
            <vfooter></vfooter>
        </div>
    </div>
    <script src="/red_packet/js/wechat/jweixin-1.2.0.js"></script>
    <script src="/red_packet/js/wechat/config.js"></script>
    <script src="/red_packet/js/view/user/company/auth.js"></script>
</body>

</html>