page {
  background-color: #f7f7f7;
}

.userinfo-nickname {
  font-size: 13pt;
}

.userinfo-nickname {
  position: relative;
}

.icon-yirenzheng {
  color: #fff;
  font-size: 16pt;
  position: absolute;
  right: -70px;
  top: 3px;
}

.ul .li .iconfont { 
  font-size: 16pt;
  margin-right: 5px;
  width: 30px;
  float: left;
  display: block;
  text-align: center;
}

.icon-right{
	
}
